# Core Application Dependencies
streamlit
torch
langchain
langchain-community
langchain-experimental
langchain-huggingface
langchain-ollama
langchain-google-genai
streamlit_pdf_viewer>=0.0.26
faiss-cpu
pymupdf
sentence-transformers
numpy
scikit-learn
tqdm
rank_bm25
ollama
google-generativeai
python-dotenv
pyyaml
pydantic>=2.0

# Development and Linting Dependencies
black
ruff