streamlit
torch
langchain
langchain-community
langchain-experimental
langchain-huggingface
langchain-ollama
langchain-google-genai
streamlit_pdf_viewer
faiss-cpu
pymupdf
sentence-transformers
numpy
scikit-learn
tqdm
rank_bm25
ollama
google-generativeai
python-dotenv
